<extend name="layout/home" />
<block name="title"><title>合作缴费</title></block>
<block name="tit">直销商城<span>（服务商）</span></block>
<block name="content">
    <link href="__PUBLIC__/home/css/style/pay.css" type="text/css" rel="stylesheet">
    <script src="__PUBLIC__/home/js/js/pay.js" type="text/javascript"></script>
<div class="weui_tab" style="background:#FFF;">
    <div class="weui_tab_bd">
        <form action="__MODULE__/direct/settlement" method="post">
            <div class="weui_tab_bd" style="margin-top:60px; margin-bottom:80px;">
                <div class="xzpp">选择品牌:
                    <select id="brand" name="brand">
                        <option value="">请选择</option>
                        <foreach name="bd" item="db">
                            <option value="{$db.bdid}">{$db.name}</option>
                        </foreach>
                    </select>
                </div>
                <div class="xzpp">直销员证编号:
                    <input type="text" name="number" placeholder="请输入12位直销员证编号" value="" />
                </div>
                <if condition="$sf neq 4">
                    <div class="xzqy" key="contry">
                    	<p>选择代理区域:</p>
                        <select id="prov" name="prov" class="select-sheng">
                            <option value="">请选择</option>
                        </select>
                        <span>省</span>
                        <if condition="$sf lt 3">
                            <select id="city" name="city" key="third" class="select-shi">
                                <option value="">请选择</option>
                            </select>
                            <span>市</span>
                        </if>
                            <if condition="$sf eq 1">
                                <select id="area" name="area" key="sec" class="select-qu">
                                    <option value="">请选择</option>
                                </select>
                                <span>区/县</span>
                            </if>
                    </div>
                </if>
                <div class="inquiry">
                	<div class="quiry">
                    	<p class="quiry_1">查询</p>
                    	<p class="quiry_2">该区域还有<span id="me">3</span>名代理资格</p>
                    </div>
                    <table class="sheet">
                    	<tr>
                        	<th class="sheet_1">序号</th>
                            <th class="sheet_2">账号</th>
                            <th class="sheet_3">姓名</th>
                            <th class="sheet_4">日期</th>
                        </tr>
                        <tr id="list"></tr>
                    </table>
                </div>
                <if condition="$sf neq 4">
                    <div class="weui_cells weui_cells_radio">
                        <label class="weui_cell weui_check_label">
                            <div class="weui_cell_bd weui_cell_primary" style="font-size:0.8rem;">
                                <p style="float:left;">你选择的代理区域是：</p>
                                <p><span id="sp"></span><span id="sc"></span><span id="sa"></span></p>
                            </div>
                            <div class="queren" id="htm">待确认</div>
                        </label>
                    </div>
                </if>
                <div class="subordinate">
                    <p>所属招商中心：</p>
                    <select class="insubo" name="mc_id">
                        <option value="">请选择</option>
                        <foreach  name="mc" item="mlist">
                            <option value="{$mlist.mid}">{$mlist.name}</option>
                        </foreach>
                    </select>
                </div>
                <if condition="$sf gt 1">
                    <div style="width:100%;border-bottom:solid 5px #00BFFF;" id="give" give="{$sf}"></div>
                    <div class="xzqy">
                        <p>汇盟通宝选择代理区域：</p>
                        <select id="hprov" name="hprov" class="select-sheng">
                            <option value="">请选择</option>
                        </select>
                        <span>省</span>
                        <select id="hcity" name="hcity" class="select-shi">
                            <option value="">请选择</option>
                        </select>
                        <span>市</span>
                        <if condition="$sf lt 4">
                            <select id="harea" name="harea" key="{$sf}" class="select-qu">
                                <option value="">请选择</option>
                            </select>
                            <span>区/县</span>
                        </if>
                    </div>
                    <div class="weui_cells weui_cells_radio">
                        <label class="weui_cell weui_check_label">
                            <div class="weui_cell_bd weui_cell_primary" style="font-size:0.8rem;">
                            	<p>你选择的代理区域是：</p>
                                <p><span id="hsp"></span><span id="hsc"></span><span id="hsa"></span></p>
                            </div>
                            <div class="queren" id="kqr">待确认</div>
                        </label>
                    </div>
                </if>
                <if condition="$sf eq 2">
                    <div class="inquiry">
                        <div class="quiry">
                            <p class="quiry_1">查询</p>
                            <p class="quiry_2" style="display: block;">该区域还有<span>9</span>名代理资格</p>
                        </div>
                        <table class="sheet">
                            <tbody>
                                <tr>
                                    <th class="sheet_1">序号</th>
                                    <th class="sheet_2">账号</th>
                                    <th class="sheet_3">姓名</th>
                                    <th class="sheet_4">日期</th>
                                </tr>
                                <tr style="display: table-row;"></tr>
                            </tbody>
                        </table>
                    </div>
                </if>
                <input class="weui_btn weui_btn_warn" style="width:80%;text-align:center;" value="确认" type="submit">
            </div>
            </div>
        </form>
</div>
</div>
<script type="text/javascript">
    $(function(){
    //选择代理区域
        $('#prov').click(function(){
            $.get("__MODULE__/index/address",{'pid':0},function(data){
                // 遍历数据进行添加
                for(var i=0;i<data.length;i++){
                var op = $('<option value="'+data[i].areaid+'">'+data[i].areaname+'</option>');
                $('#prov').append(op);
                }
            },'json');
        });
        $('#prov').change(function(){
            // 获取当前省的id
            var pid = $(this).val();
            // 通过省的id去获取市的内容
            $.get("__MODULE__/index/address",{'pid':pid},function(data){
                $('#city').empty().html('<option value="">请选择</option>');
                $('#area').empty().html('<option value="">请选择</option>');
                // 遍历数据进行添加
                for(var i=0;i<data.length;i++){
                   var op = $('<option value="'+data[i].areaid+'">'+data[i].areaname+'</option>');
                    $('#city').append(op);
                }
            },'json');
        });
        $('#city').change(function(){
            // 获取当前省的id
            var pid = $(this).val();
            // 通过省的id去获取市的内容
            $.get("__MODULE__/index/address",{'pid':pid},function(data){
                $('#area').empty().html('<option value="">请选择</option>');
                // 遍历数据进行添加
                for(var i=0;i<data.length;i++){
                    var op = $('<option value="'+data[i].areaid+'">'+data[i].areaname+'</option>');
                    $('#area').append(op);
                }
            },'json');
        });
    //表单限制
        var prov = 0;
        var PROV = false;
        var city = 0;
        var CITY = false;
        var area = 0;
        var AREA = false;
        var DLQ = false;
        var ZXZ = false;
        var ZSZ = false;
        var BRAND = false;
        var HAREA = false;
        var KQR = false;
        var HPROV = false;
        var HCITY = false;
        var brand = 0
        $('#brand').change(function(){
            brand = $(this).val();
            if(brand){
                BRAND = true;
            }else{
                BRAND = false;
            }
        });
        $('input[name=number]').blur(function(){
            var v = $(this).val();
            var reg = /^\d{12}$/
            if(!reg.test(v)){
                alert('请输入有效直销员证编号');
                ZXZ = false;
            }else{
                ZXZ =true;
            } 
        });
        $('select[name=mc_id]').change(function(){
            var mc = $(this).val();
            if(mc){
                ZSZ = true;
            }else{
                ZSZ = false;
            }
        });
        $('select[name=prov]').change(function(){
            prov = $(this).val();
            $('#sp').text($(this).find("option:selected").text());
            $('#sc').empty();
            $('#sa').empty();
            $('#htm').text('待确认');
            DLQ = false;
            if(prov){
                PROV = true;
            }else{
                PROV = false;
            }
            CITY = false;
            AREA = false;
        });
        $('select[name=city]').change(function(){
            city = $(this).val();
            $('#sc').text($(this).find("option:selected").text());
            $('#htm').text('待确认');
            DLQ = false;
            $('#sa').empty();
            if(city){
                CITY = true;
            }else{
                CITY = false;
            }
            AREA = false;
        });
        $('select[name=area]').change(function(){
            area = $(this).val();
            $('#sa').text($(this).find("option:selected").text());
            $('#htm').text('待确认');
            DLQ = false;
            if(area){
                AREA = true;
            }else{
                AREA = false;
            }
        });
        if($('.queren').text()){
            var DLQ = false;
            $('#htm').click(function(){
                var abc = $(this).text();
                if(abc == '待确认'){
                    $(this).text('已确认');
                    DLQ = true;
                }else{
                    $(this).text('待确认');
                    DLQ = false;
                }
            });
        };
    //汇盟通宝选择代理区域
        var give = $('#give').attr('give');
        if(give){
            var hprov = 0;
            var hcity = 0;
            var harea = 0;
            $('#hprov').click(function(){
                $.get("__MODULE__/index/address",{'pid':0},function(data){
                    // 遍历数据进行添加
                    for(var i=0;i<data.length;i++){
                    var op = $('<option value="'+data[i].areaid+'">'+data[i].areaname+'</option>');
                    $('#hprov').append(op);
                    }
                },'json');
            });
            $('#hprov').change(function(){
                // 获取当前省的id
                var pid = $(this).val();
                // 通过省的id去获取市的内容
                $.get("__MODULE__/index/address",{'pid':pid},function(data){
                    $('#hcity').empty().html('<option value="">请选择</option>');
                    $('#harea').empty().html('<option value="">请选择</option>');
                    // 遍历数据进行添加
                    for(var i=0;i<data.length;i++){
                       var op = $('<option value="'+data[i].areaid+'">'+data[i].areaname+'</option>');
                        $('#hcity').append(op);
                    }
                },'json');
            });
            $('#hcity').change(function(){
                // 获取当前省的id
                var pid = $(this).val();
                // 通过省的id去获取市的内容
                $.get("__MODULE__/index/address",{'pid':pid},function(data){
                    $('#harea').empty().html('<option value="">请选择</option>');
                    // 遍历数据进行添加
                    for(var i=0;i<data.length;i++){
                        var op = $('<option value="'+data[i].areaid+'">'+data[i].areaname+'</option>');
                        $('#harea').append(op);
                    }
                },'json');
            }); 
            $('select[name=hprov]').change(function(){
                hprov = $(this).val();
                $('#hsp').text($(this).find("option:selected").text());
                $('#hsc').empty();
                $('#hsa').empty();
                $('#kqr').text('待确认');
                KQR = false;
                if(hprov){
                    HPROV = true;
                }else{
                    HPROV = false;
                }
                HCITY = false;
                HAREA = false;
            });
            $('select[name=hcity]').change(function(){
                hcity = $(this).val();
                $('#hsc').text($(this).find("option:selected").text());
                $('#hsa').empty();
                $('#kqr').text('待确认');
                KQR = false;
                if(hcity){
                    HCITY = true;
                }else{
                    HCITY = false;
                }
                HAREA = false;
            });
            $('select[name=harea]').change(function(){
                harea = $(this).val();
                $('#hsa').text($(this).find("option:selected").text());
                $('#kqr').text('待确认');
                KQR = false;
                if(harea){
                    HAREA = true;
                }else{
                    HAREA = false;
                }
            });
            $('#kqr').click(function(){
                var kqr = $(this).text();
                if(kqr == '待确认'){
                    $(this).text('已确认');
                    KQR = true;
                }else{
                    $(this).text('待确认');
                    KQR = false;
                };
            });  
        }else{
            HAREA = true;
            KQR = true;
            HCITY = true;
            HPROV = true;
        }
        // var syme  = $('#syme').text();
        // var symeI = parseInt(syme);
        // alert(typeof(symeI));
        $(".quiry_1").click(function(){
            if(brand == 1 && area == 3291){
                $('#list').empty().append('<td>1</td><td>13450022499</td><td>李强</td><td>2017-02-13</td>');
                // $('span #me').text('2');
            }
            if(brand == 2 && city == 267){
                $('#list').empty().append('<td>1</td><td>13102351337</td><td>胡蔁蓉</td><td>2017-02-13</td>');
                // $('span #me').text('2');
            }
            if(brand == 3 && city == 232){
                $('#list').empty().append('<td>1</td><td>18125355008</td><td>丁丽君</td><td>2017-02-13</td>');
                // $('span #me').text('2');
            }
        });

        //汇盟通宝选择代理区域 end
        $('form').submit(function(){
            if(brand ==1 && area == 3291){
                return false;
            }
            if(city == 267 && brand ==2){
                return false;
            }
            if(city == 232 && brand ==3){
                return false;
            }
            if(!$('select[name=harea]').attr('key')){
            HAREA = true;
            }
            var shiji = $('select[name=area]').attr('key');
            if(shiji != 'sec'){
                AREA = true;
            }

            var shengji = $('select[name=city]').attr('key');
            if(shengji != 'third'){
                CITY = true;
            }
            var contry = $('.xzqy').attr('key');
            if(!contry){
                PROV = true;
                DLQ = true;
            }
            if(BRAND && ZXZ && ZSZ && PROV && DLQ && CITY && AREA && HAREA && KQR && HCITY && HPROV){
                return true;
            }else{
                return false;
            }
        });
    });
    </script>
</block>