<extend name="layout/home" />
<block name="title"><title>合作缴费</title></block>
<block name="header">
    <header>
        <div class="pull-left" onclick="window.history.back()">
        <img class="icon-rotate fa fa-rotate-left" src="__PUBLIC__/home/img/Arrow.png"/>
        </div>
        <div class="shuaxin" onclick="window.history.go(0)">
            <img class="icon-rotate fa fa-rotate-left" src="__PUBLIC__/home/img/new.png"/>
        </div>
        <div class="login-title">合作缴费</div>
    </header>
</block>
<block name="content">
    <a href="__MODULE__/index/manger/" class="weui_btn weui_btn_default" style="margin-top:80px;"><img src="__PUBLIC__/home/img/hmtb.png"/></a>
    <a href="__MODULE__/direct/index" class="weui_btn weui_btn_default"><img src="__PUBLIC__/home/img/zxsc.png"/></a>
    <a href="__MODULE__/" class="weui_btn weui_btn_default"><img src="__PUBLIC__/home/img/jfsc.png"/></a>
    <a href="__MODULE__/" class="weui_btn weui_btn_default"><img src="__PUBLIC__/home/img/bxcs.png"/></a>
    <a href="__MODULE__/" class="weui_btn weui_btn_default"><img src="__PUBLIC__/home/img/zszx.png"/></a>
</block>