<extend name="layout/home" />
<block name="title"><title>汇盟通宝</title></block>
<block name="tit">汇盟通宝</block>
<block name="content">
    <link href="__PUBLIC__/home/css/style/pay.css" type="text/css" rel="stylesheet">
    <script src="__PUBLIC__/home/js/js/pay.js" type="text/javascript"></script>
    <div class="weui_tab" style="background:#FFF;">
        <div class="weui_tab_bd">
            <form action="__MODULE__/main/settlement" method="post">
                <div class="weui_tab_bd" style="margin-top:60px; margin-bottom:80px;">
                    <if condition="$sf neq 1">
                        <div class="xzqy" flag="1">
                            <p flag='water'>选择代理区域:</p>
                            <select id="prov" name="prov" class="select-sheng">
                                <option value="">请选择</option>
                            </select>
                            <span>省</span>
                            <select  id="city" name="city" class="select-shi">
                                <option value="">请选择</option>
                            </select>
                            <span>市</span>
                            <if condition = "($sf eq 3) or ($sf eq 2)">
                                <select id="area"  flag="yy" name="area" class="select-qu">
                                    <option value="">请选择</option>
                                </select>
                                <span>区/县</span>
                            </if>
                        </div>
                    </if>
                    <if condition="$sf neq 1">
                        <div class="weui_cells weui_cells_radio">
                            <label class="weui_cell weui_check_label">
                                <div class="weui_cell_bd weui_cell_primary" style="font-size:0.8rem;">
                                    <p style="float:left;">你选择的代理区域是：</p>
                                    <p class="dlqy"><span id="sp"></span><span id="sc"></span><span id="sa"></span></p>
                                </div>
                                <div style="display: none;" class="queren">待确认</div>
                            </label>
                        </div>
                    </if>
                    <if condition="$sf neq 1">
                        <div class="inquiry">
                            <div class="quiry">
                                <p class="quiry_1" key="{$sf}">查询</p>
                                <p class="quiry_2" style="display: none;">该区域还有<span>9</span>名代理资格</p>
                            </div>
                            <table class="sheet">
                                <tbody>
                                    <tr>
                                        <th class="sheet_1">序号</th>
                                        <th class="sheet_2">账号</th>
                                        <th class="sheet_3">姓名</th>
                                        <th class="sheet_4">日期</th>
                                    </tr>
                                    <tr id="list" style="display: table-row;">
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </if>
                    <div class="subordinate">
                        <if condition="$sf eq 1">
                            <p flag="noid">所属招商中心：</p>
                            <else /><p>所属招商中心：</p>
                        </if>
                        <select class="insubo" name="mc_id">
                            <option value="">请选择</option>
                            <foreach  name="mc" item="mlist">
                                <option value="{$mlist.mid}">{$mlist.name}</option>
                            </foreach>
                        </select>
                    </div>
                    <input class="weui_btn weui_btn_warn" style="width:80%;text-align:center;" value="确认" type="submit">
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
    $(function(){
    //选择代理区域
        $('#prov').click(function(){
            $.get("__MODULE__/index/address",{'pid':0},function(data){
                //遍历数据进行添加
                for(var i=0;i<data.length;i++){
                var op = $('<option value="'+data[i].areaid+'">'+data[i].areaname+'</option>');
                $('#prov').append(op);
                }
            },'json');
        });
        $('#prov').change(function(){
            // 获取当前省的id
            var pid = $(this).val();
            // 通过省的id去获取市的内容
            $.get("__MODULE__/index/address",{'pid':pid},function(data){
                $('#city').empty().html('<option value="">请选择</option>');
                $('#area').empty().html('<option value="">请选择</option>');
                // 遍历数据进行添加
                for(var i=0;i<data.length;i++){
                   var op = $('<option value="'+data[i].areaid+'">'+data[i].areaname+'</option>');
                    $('#city').append(op);
                }
            },'json');
            $('input[name=detail]').removeAttr('disabled');
        });
        $('#city').change(function(){
            // 获取当前省的id
            var pid = $(this).val();
            // 通过省的id去获取市的内容
            $.get("__MODULE__/index/address",{'pid':pid},function(data){
                $('#area').empty().html('<option value="">请选择</option>');
                // 遍历数据进行添加
                for(var i=0;i<data.length;i++){
                    var op = $('<option value="'+data[i].areaid+'">'+data[i].areaname+'</option>');
                    $('#area').append(op);
                }
            },'json');
        });
    //表单限制
            var prov = 0;
            var PROV = false;
            var city = 0;
            var CITY = false;
            var ZSZ = false;
            var SC = true;
            var YY = true;
            var service = $('select[name=area]').attr('flag');
            if($('.queren').text()){
                var DLQ = false;
                $('.queren').click(function(){
                    var abc = $(this).text();
                    if(abc == '待确认'){
                        $(this).text('已确认');
                        DLQ = true;
                    }else{
                        $(this).text('待确认');
                        DLQ = false;
                    }
                });
            };
            $('select[name=prov]').change(function(){
                prov = $(this).val();
                $('#sp').text($(this).find("option:selected").text());
                $('#sc').empty();
                $('#sa').empty();
                DLQ = false;
                if(prov){
                    PROV = true;
                }else{
                    PROV = false;
                }
                CITY = false;
                if(service){
                    AREA = false; 
                }
            });


            $('select[name=city]').change(function(){
                city = $(this).val();
                if(city == 267){
                    $('.quiry_1').click(function(){
                        var idf = $(this).attr('key')
                         if(idf == 4){
                            $('#list').empty().append('<td>1</td><td>13102351337</td><td>胡蔁蓉</td><td>2017-02-13</td>');
                            YY = false;
                        }else if(idf == 2){
                            $('#list').empty().append('<td>1</td><td>13983702170</td><td>徐燕</td><td>2017-02-13</td>');
                        }
                    });
                }
                $('#sc').text($(this).find("option:selected").text());
                $('#sa').empty();
                $('.queren').css('display','block').text('待确认');
                DLQ = false;
                if(city){
                    CITY = true;
                }else{
                    CITY = false;
                }
                if(service){
                    AREA = false; 
                }
                var yy  = $('.quiry_1').attr('key');
                if(yy == 4 && city == 267){
                    YY = false;
                }else{
                    YY = true;
                }
            });
            if(service){
                var area = 0;
                var AREA = false;
                $('select[name=area]').change(function(){
                    area = $(this).val();
                    if(city == 231){
                        $('.quiry_1').click(function(){
                            if($(this).attr("key") == 3){
                                $('#list').empty().append('<td>1</td><td>15992767065</td><td>白红钊</td><td>2017-02-13</td>');
                                SC = false;
                            }
                        });
                    }
                    $('.queren').css('display','block').text('待确认');
                    DLQ = false;
                    $('#sa').text($(this).find("option:selected").text());
                    if(area){
                        AREA = true;
                    }else{
                        AREA = false;
                    }

                    var sc  = $('.quiry_1').attr('key');
                    // alert(sc);
                    // alert(area);
                    if(sc == 3 && area == 2136){
                        SC = false;
                    }else{
                        SC = true;
                    }
                });
            }
            $('select[name=mc_id]').change(function(){
                var mc = $(this).val();
                if(mc){
                    ZSZ = true;
                }else{
                    ZSZ = false;
                }
            });
            $('form').submit(function(){
                if(!service){
                    AREA = true;
                }
                if(!DLQ){
                    DQL = true;
                }
                if($('.subordinate p:nth-child(1)').attr('flag')){
                    PROV = true;
                    CITY = true;
                    DLQ = true;
                };
                if(PROV && CITY && AREA && DLQ && ZSZ && SC && YY){
                    return true;
                }else{
                    return false;
                }
            });
    });
    </script>
</block>
