<extend name="layout/home" />
<block name="title"><title>合作缴费</title></block>
<block name="tit">保险超市<span>（服务商）</span></block>
<block name="content">
<link href="__PUBLIC__/home/css/style/manager.css" type="text/css" rel="stylesheet">
    <div class="weui_navbar" style="position:fixed; top:60px;">
        <div class="weui_navbar_item weui_bar_item_on">区县</div>
        <div class="weui_navbar_item">市级</div>
        <div class="weui_navbar_item">省级</div>
        <div class="weui_navbar_item">全国</div>
    </div>
    <div class="weui_tab_bd" style="margin-top:60px; margin-bottom:180px;">
    	<div class="inweui_tab_bd" style="margin-top:15px;height:900px;">
                <p style="color:#c90909;">1.保证金返还：推荐有效联盟商家，每个返还198元，限25个</p>
                    <p>2.直接招商现金奖励:代理商20%（990元），合伙人16%（3960元），服务中心12%（1.188万元），运营中心8%（3.168万）</p>
                    <p>3.间接招商现金奖励:代理商 5%（247.5元），合伙人4%（990元），服务中心3%（2970元），运营中心2%（7920元）</p>
                    <p>4.直推联盟商家奖励折扣的20%；25个×2万9.5折×20%=5000元</p>
                    <p>5.奖励直推代理商商家团队折扣的2%:例：直推5个代理商，享受每个代理商收入5000元的10%，收入约为2500元/月</p>
                    <p>6.奖励间推代理商商家团队折扣的1%；间推25个收入约6250元</p>
                    <p>7.奖励直推会员消费折扣的5%和间推会员消费折扣的5%:例：25个商家×66个间推会员×1000元×9.5折×5%=4125元/月</p>
                    <p>8.奖励直推代理商会员团队折扣的2%；直推5个代理商收入为8250元</p>
                    <p>9.奖励间推代理商会员团队折扣的1%；间推25个代理商收入20625元</p>
                    <p>10.配送手机刷卡器5个+N个：有效开通后可免费循环配送，享受刷卡收益的70%</p>
                    <p>11.配送扫码支付20个+20张实卡：开通后可免费循环配送；享受刷卡收益的70%</p>
                    <p>12.协助公司招刷卡器和扫码支付的代理商：奖励直招代理商团队刷卡收益的7%</p>
                    <p>13.通宝贷：可以申请3万~100万的无抵押用贷款</p>
        </div>
        <div class="inweui_tab_bd">
        	<h3>合伙人</h3>
        	<ul>
            	<li>交5个代理商保证金，共计24750元</li>
                <li>可获得6个价值4950元的代理商名额</li>
                <li>合伙人为区县服务中心董事或监事</li>
                <li>参与公司决策</li>
                <li>并享有服务中心3%分红股权</li>
                <li>每个区县服务中心限9个名额，先到先得！</li>
            </ul>
        </div>
        <div class="inweui_tab_bd">
        	<h3>区县服务中心</h3>
            <ul>
            	<li>收益：区域内联盟商家折扣的20%</li>
                <li>举例：区域内有200个联盟商家，每个联盟商家每月会员消费营业额为2万元，200个*2万*9.5折*20% = 4万/月</li>
                <li>区县服务中心代理费9.9万</li>
                <li>市级运营中心聘请区县服务中心的负责人为董事或监事</li>
                <li>参与公司决策，并享有市级运营中心2%分红股权</li>
            </ul>
        </div>
        <div class="inweui_tab_bd" style="height:900px;">
        	<h3>市级运营中心</h3>
            <ul>
            	<li>收益：区域内联盟商家折扣的10%</li>
                <li>举例：区域内有1000个联盟商家，每个联盟商家每月会员消费营业额为2万元，1000个*2万*9.5折</li>
                <li>*10% = 10万/月</li>
                <li>市级运营中心代理费39.6万</li>
                <li>市级运营中心为省级控股公司的董事或监事</li>
                <li>参与公司决策，并享有公司1%分红股权</li>
                <li style="color:#c90909;">市级运营中心同时也是招商中心，享受6大收益</li>
            </ul>
            <h3>招商中心6大收益</h3>
            <div class="managers">
            	<p>1.协助招商现金奖励:推荐代理商7%（346.5元），合伙人6%（1485元），服务中心5%（4950元），运营中心4%（1.584万）</p>
            </div>
            <div class="managers">
            	<p>2.协助招商：同时享有和现金奖励同等金额的通宝币TBC</p>
            </div>
            <div class="managers">
            	<p>3.奖励代理商团队商家折扣的2%:例：招50个代理商×25个商家×2万/月×9.5折×2% = 2.5万元/月</p>
            </div>
            <div class="managers">
            	<p>4.奖励代理商团队会员消费折扣的1%:例：招50个代理商×25个商家×66人×1000元/月×9.5折×1% = 4.125万元/月</p>
            </div>
            <div class="managers">
            	<p>5.奖励代理商团队卡头刷卡收益的7%:例：招50个代理商，每个代理商安装50个，每个刷卡头每月刷2万，月收入约4000元</p>
            </div>
            <div class="managers">
            	<p>6.奖励代理商团队扫码支付刷卡收益的7%:例：招50个代理商，每个代理商安装100个，每个人每月刷1万，月收入约4000元</p>
            </div>
        </div>
    </div>
</block>
<block name="footer">
    <form action="__URL__/check" method="post">
        <div class="weui_tabbar">
        	<div class="inweui_tabbar">
                <div class="keynote_2">
                	<p>每个区域每个品牌限<span class="biandong">3</span>名服务商</p>
                </div>
                <div class="payment">代理费<span class="fee">4950</span>元</div>
                <a>
                    <input type="submit" class="weui_btn weui_btn_primary" value="点击缴费" style="background:#c90909; width:100%;"/>
                </a>
            </div>
            <div class="inweui_tabbar">
                <p class="keynote_1">保险超市的市级服务商必须是汇盟通宝的合伙人</p>
            	<div class="keynote_2">
                	<p>前<span class="biandong">160</span>名可成为保险超市股东</p>
                    <p>配送保险超市事业部0.1%股权</p>
                </div>
                <div class="payment">代理费<span class="fee">24750</span>元</div>
                <a>
                    <input type="submit" class="weui_btn weui_btn_primary" value="点击缴费" style="background:#c90909; width:100%;"/>
                </a>`
            </div>
            <div class="inweui_tabbar">
                <p class="keynote_1">保险超市的省级服务商必须是汇盟通宝区县服务中心</p>
                <div class="keynote_2">
                	<p>前<span class="biandong">32</span>名可成为保险超市股东代表</p>
                    <p>配送保险超市事业部0.5%股权</p>
                </div>
                <div class="payment">代理费<span class="fee">99000</span>元</div>
                <a>
                    <input type="submit" class="weui_btn weui_btn_primary" value="点击缴费" style="background:#c90909; width:100%;"/>
                </a>
            </div>
            <div class="inweui_tabbar">
                <p class="keynote_1">保险超市的全国服务商必须是汇盟通宝市级运营中心</p>
                <div class="keynote_2">
                	<p>前<span class="biandong">8</span>名可成为保险超市董事或监事参与管理</p>
                    <p>配送保险超市事业部2%股权</p>
                </div>
                <div class="payment">代理费<span class="fee">396000</span>元</div>
                <a>
                    <input type="submit" class="weui_btn weui_btn_primary" value="点击缴费" style="background:#c90909; width:100%;"/>
                </a>
            </div>
        </div>
        <input type="hidden" name="type" value="zxsc">
        <input type="hidden" name="identify">
        <input type="hidden" name="figure">
        <input type="hidden" name="addtime">
        <input type="hidden" name="user">
    </form>
    <script type="text/javascript">
        $(function(){
            $('input[name=addtime]').val(sessionStorage["creat_time"]);
            $('input[name=user]').val(sessionStorage["username"]);
            var amount = 0;
            amount =$('.fee').eq(0).text();
            $('input[name=figure]').val(amount);
            $('input[name=identify]').val(1);
            $('.weui_navbar_item').click(function(){
                var i = $(this).index();
                var id = i + 1;
                amount = $('input[type=submit]').eq(i).parents('.inweui_tabbar').find('.fee').text();
                $('input[name=figure]').val(amount);
                $('input[name=identify]').val(id);
            });

            $(".inweui_tab_bd").eq(0).show().siblings().hide();
            $(".inweui_tabbar").eq(0).show().siblings().hide();
            $(".weui_navbar_item").click(function(){
            var i=$(this).index();
            $(".weui_navbar_item").eq(i).addClass("weui_bar_item_on").siblings().removeClass("weui_bar_item_on");
            $(".inweui_tab_bd").eq(i).show().siblings().hide();
            $(".inweui_tabbar").eq(i).show().siblings().hide();
            });
        });
    </script>
</block>